!minecraft/config/inventoryprofilesnext/inventoryprofiles.json
.fuse_hidden*
instance.cfg
minecraft/cherishedworlds-favorites.dat
minecraft/config-old/
minecraft/config/chunky/tasks/
minecraft/config/embeddium-fingerprint.json
minecraft/config/fabric/indigo-renderer.properties
minecraft/config/inventoryprofilesnext/
minecraft/config/NoChatReports/NCR-Encryption.json
minecraft/config/NoChatReports/NCR-ServerPreferences.json
minecraft/config/NoChatReports/README.md
minecraft/config/oculus.properties
minecraft/config/sound_physics_remastered/allowed_sounds.properties
minecraft/config/spark/activity.json
minecraft/config/spark/tmp/
minecraft/crash-reports/
minecraft/data/fabricDefaultResourcePacks.dat
minecraft/emojiful/cache/
minecraft/hs_err_pid*.log
minecraft/logs/
minecraft/mods/.connector/
minecraft/saves/
minecraft/screenshots/
minecraft/servers.dat*
minecraft/usercache.json
minecraft/usernamecache.json
minecraft/xaero/minimap/
minecraft/xaero/world-map/
minecraft/XaeroWaypoints_*/
server/
