!minecraft/config/inventoryprofilesnext/inventoryprofiles.json
.fuse_hidden*
instance.cfg
minecraft/.cache/
minecraft/.mixin.out/
minecraft/XaeroWaypoints_*/
minecraft/cherishedworlds-favorites.dat
minecraft/config-old/
minecraft/config/NoChatReports/NCR-Encryption.json
minecraft/config/NoChatReports/NCR-ServerPreferences.json
minecraft/config/NoChatReports/README.md
minecraft/config/brandon3055/contributors.json
minecraft/config/brandon3055/contributors.json.etag
minecraft/config/chunky/tasks/
minecraft/config/embeddium-fingerprint.json
minecraft/config/fabric/indigo-renderer.properties
minecraft/config/inventoryprofilesnext/
minecraft/config/jaopca/materials/
minecraft/config/jaopca/materials/*.bak
minecraft/config/oculus.properties
minecraft/config/sound_physics_remastered/allowed_sounds.properties
minecraft/config/spark/activity.json
minecraft/config/spark/tmp/
minecraft/config/xaerominimap_entities.json
minecraft/crash-reports/
minecraft/data/fabricDefaultResourcePacks.dat
minecraft/emojiful/cache/
minecraft/fabricloader.log
minecraft/hs_err_pid*.log
minecraft/logs/
minecraft/modernfix/structureCacheV1/
minecraft/mods/.connector/
minecraft/patchouli_data.json
minecraft/resourcepacks/tconjeidark.zip
minecraft/saves/
minecraft/screenshots/
minecraft/servers.dat*
minecraft/usercache.json
minecraft/usernamecache.json
minecraft/xaero/minimap/
minecraft/xaero/world-map/
server/
temp-jars/