
minecraft/logs/

minecraft/saves/

minecraft/usercache.json

minecraft/usernamecache.json

minecraft/mods/.fuse_hidden*

minecraft/config/embeddium-fingerprint.json

minecraft/crash-reports/

minecraft/data/fabricDefaultResourcePacks.dat

minecraft/mods/.connector/

minecraft/config/spark/tmp/

minecraft/config/spark/activity.json

minecraft/screenshots/

minecraft/config/chunky/tasks/

minecraft/config-old/

instance.cfg

minecraft/config/fabric/indigo-renderer.properties

minecraft/hs_err_pid*.log

minecraft/servers.dat*

minecraft/config/sound_physics_remastered/allowed_sounds.properties

minecraft/config/inventoryprofilesnext/
!minecraft/config/inventoryprofilesnext/inventoryprofiles.json

minecraft/config/NoChatReports/NCR-ServerPreferences.json

minecraft/config/NoChatReports/NCR-Encryption.json

minecraft/config/NoChatReports/README.md

minecraft/config/oculus.properties
